[Desktop Entry]
Name=Anka Web
Comment=Anka Web Browser
Exec=/opt/anka-web/anka-web --no-sandbox
Icon=anka-web
Terminal=false
Type=Application
Categories=Network;WebBrowser;
StartupNotify=true