[Desktop Entry]
Name=Anka Web
Comment=Anka Web
Exec=/opt/anka-web/anka-web --no-sandbox
Icon=/opt/anka-web/anka-web.png
Terminal=false
Type=Application
Categories=Network;WebBrowser;
StartupNotify=true